<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>fastrax</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print">
  <!--[if IE]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="/static/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
</head>
<body>
	<div class="container" style="margin-left:0">
	<div class="prepend-1">  
		<h3></h3>
		<h2 class="altb"></h2>
		<h3><a href="/">FASTRAX</a></h3>
		
		<div class="altb">
			<div>
				<div class="span-20">
					<h3>ODF Protection District List</h3>
					{% if district_list %}
						<div>
							Some BLM districts span more than one ODF protection district. The table below shows valid<br /> ODF protection district codes for each BLM district, as used in revenue smoke numbers by ODF.
						</div>
						<br />
						<div>
						 <div class="span-17">
							<table>
{% for d in district_list %}
								<tr><td>{{d.nnn}}</td>
								<td>{{d.name}}</td></tr>
								{% endfor %}
							</table>
<br />						 </div>
						</div>
					{% else %}
						<div>
							No districts. What?
						</div>
					{% endif %}
					<div class="span-20">
					</div>
				</div>
		</div>
	</div>
	</div>
		{% include "footer.html" %}
	</div>
</body>
</html>